.hero-section{
  max-width: 1400px;
}

.lead{
  text-align: justify;
}

.strokeme {
  color: #fafafa;
  /* text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000; */
  -webkit-text-stroke: 0.5px black;
}